name: iwantmyname Domain Blog
twitter: iwantmyname


# Plugins
markdown: redcarpet
highlighter: pygments

# Base URL for GitHub Pages, use `jekyll serve --baseurl ""` locally
# This needs to be an absolute URL for the RSS feeds
baseurl: https://iwantmyname.com/blog

# Permalinks to match MovableType
permalink: /:year/:month/:title.html

paginate: 10
paginate_path: /page-:num/

exclude: [Gemfile, Rakefile, vendor]

# Set timezone for build consistency across platforms
timezone: America/Los_Angeles


# Non-standard config settings for use throughout site

# Absolute URL to images
#   HTML Proofer doesn't have an src_swap option, so we need to treat images as external images
images_url: https://iwantmyname.com/blog/assets/images/content
