name: iwantmyname Domain Blog
twitter: iwantmyname


# Plugins
markdown: redcarpet
highlighter: pygments

# Base URL for GitHub Pages, use `jekyll serve --baseurl ""` locally
# This needs to be an absolute URL for the RSS feeds
baseurl: https://iwantmyname.com/blog

# Permalinks to match MovableType
permalink: /:year/:month/:title.html

paginate: 10
paginate_path: /page-:num/

exclude: [Gemfile, Rakefile, vendor]


# Non-standard config settings for use throughout site
images_url: /blog/assets/images/content
