---
layout: page
title: "[Preview] iwantmyname Domain Blog"
---

<div class="container iwmn-container iwmn-articles">
	<div class="row">
		<div class="col-md-8">
			{% for post in site.pages %}
				{% if post.url contains '/preview/' %}
					{% assign count = count | plus: 1 %}
					{% include post-preview.html %}

					{% if count < site.paginate %}
						<hr>
					{% endif %}
				{% endif %}
			{% endfor %}

			{% for post in site.posts | limit: site.paginate - count %}
				{% include post-preview.html %}

				{% unless forloop.last %}
					<hr>
				{% endunless %}
			{% endfor %}
				
			<a href="{{ site.baseurl }}/" class="more-posts">Older posts</a>
		</div>

		<div class="col-md-4">
			<p class="iwmn-articles-nav-text">
				<a href="{{ site.baseurl }}/new.html" class="btn btn-success btn-lg btn-block">
					<i class="glyphicon glyphicon-edit"></i>
					New post
				</a>
			</p>

			{% include sidebar.html %}
		</div>
	</div>
</div>

{% include search.html %}
