{% assign author = post.guest_author %}
{% unless author %}{% assign author = site.data.authors[post.author] %}{% endunless %}

<article>
	<small class="date">{{ post.date | date:'%B %-d, %Y' }}</small>

	{% if author %}
		<a href="{{ site.baseurl }}{{ post.url }}"><img class="author" src="{{ author.avatar }}" alt="{{ author.name }}" title="{{ author.name }}"></a>
	{% endif %}

	<h1 class="title">
		<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	</h1>
	
	{% if post.header_image %}
		<p><a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.images_url }}/{{ post.header_image }}"></a></p>
	{% endif %}
	{% if post.guest_author %}
		<p class="small text-muted">The following is a guest post written by {{ author.name }}.</p>
	{% endif %}

	{% if post.excerpt == false %}
		{{ post.content }}
	{% else %}
		{% include excerpt.html %}
		<p class="read-more">
			<a href="{{ site.baseurl }}{{ post.url }}" class="btn iwmn-btn btn-small">Read more &rarr;</a>
		</p>
	{% endif %}
</article>
