<div class="page-section">
	<form class="domain-search text-center" method="get" action="https://iwantmyname.com/">
		<h1>Find the perfect domain name.</h1>
		<h4 class="text-muted">From here to your domain in 180 seconds.</h4>
		
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<input type="text" class="form-control input-lg" name="domain" placeholder="I want my web address to be&hellip;">
				<button class="btn btn-lg">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</div>
		</div>
	</form>
</div>
