.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.form-control {
  border: 3px solid #EEE;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}
.form-control.input-large {
  border-width: 3px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}
.iwmn-container {
  width: 960px;
  padding: 0 15px;
}
header {
  background: #f5f5f5;
}
.brand {
  display: inline-block;
  line-height: 50px;
  padding: 0 15px;
  margin: 0 -15px;
  color: #999999;
  font-size: 21px;
  font-weight: 300;
  text-transform: lowercase;
}
.brand > img {
  max-width: none;
  width: 150px;
  height: 24px;
  margin-right: 5px;
}
.brand:hover,
.brand:focus {
  background-color: #FFF;
  text-decoration: none;
  color: #555555;
}
.iwmn-nav {
  margin: 0 -15px;
}
.iwmn-nav > li {
  float: left;
  line-height: 50px;
}
.iwmn-nav > li > .dropdown-menu {
  line-height: 1.428571429;
  border: 0;
  margin: 0;
  padding: 10px 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
}
.iwmn-nav > li > .dropdown-menu > form {
  width: 250px;
  white-space: nowrap;
}
.iwmn-nav > li > .dropdown-menu > form > fieldset {
  padding: 10px 15px 15px;
}
.iwmn-nav > li > .dropdown-menu > form > fieldset > label {
  display: block;
  font-weight: inherit;
  color: #999999;
  margin-bottom: 8px;
}
.iwmn-nav > li > .dropdown-menu > form > small > a {
  display: block;
  width: 50%;
  padding: 8px 4px;
  margin: 0 0 -10px;
  background: #f5f5f5;
  color: #999999;
}
.iwmn-nav > li > .dropdown-menu > form > small > a.pull-left {
  padding-left: 15px;
}
.iwmn-nav > li > .dropdown-menu > form > small > a.pull-right {
  padding-right: 15px;
  text-align: right;
}
.iwmn-nav > li > a {
  padding: 0 15px;
  color: #555555;
  font-weight: 500;
}
.iwmn-nav > li > a > .caret {
  vertical-align: middle;
  margin: 0;
  opacity: .5;
}
.iwmn-nav > li > a > .caret,
.iwmn-nav > li > a:hover > .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.iwmn-nav > li > a:focus,
.iwmn-nav > li > a:active {
  outline: 0;
  background: transparent;
}
.iwmn-nav > li > a > img {
  width: 20px;
  height: 20px;
  background: #FFF;
  border-radius: 20px;
  opacity: 0.8;
}
.iwmn-nav > li > a:hover,
.iwmn-nav > li.open > a {
  color: #000;
  background-color: #FFF;
}
.iwmn-nav > li > a:hover > img,
.iwmn-nav > li.open > a > img {
  opacity: 1;
}
.domain-search {
  padding: 35px 0;
}
.domain-search:before,
.domain-search:after {
  content: " ";
  display: table;
}
.domain-search:after {
  clear: both;
}
.domain-search:before,
.domain-search:after {
  content: " ";
  display: table;
}
.domain-search:after {
  clear: both;
}
.domain-search .row {
  padding: 25px 0 50px;
  position: relative;
}
.domain-search .input-lg {
  height: auto;
  line-height: 1.5;
  padding-right: 90px;
}
.domain-search .btn {
  position: absolute;
  top: 50%;
  right: 45px;
  border-radius: 200px !important;
  width: 90px;
  height: 90px;
  margin: -45px;
  padding: 2px;
  line-height: 82px;
  font-size: 45px;
  background-color: #ff4433;
  border: 4px solid #ff4433;
  color: #FFF;
}
.domain-search .btn:hover {
  background-color: #428bca;
  border-color: #3071a9;
}
.iwmn-orange {
  color: #ff4433;
}
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -260px;
  padding-bottom: 360px;
}
footer {
  background-color: #555555;
  color: #999999;
  height: 260px;
  font-size: 12px;
  padding: 20px 0;
}
footer a {
  color: #eeeeee;
}
footer a:hover {
  color: #FFF;
}
footer .list-header {
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px 0 10px;
}
footer .row:last-child {
  margin-top: 20px;
}
blockquote {
  font-size: 14px;
}
img.author {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}
.iwmn-articles {
  padding-top: 20px;
}
.iwmn-articles article {
  padding: 15px 0 15px 105px;
  line-height: 1.75;
}
.iwmn-articles article h3 a {
  color: #333333;
}
.iwmn-articles article h3,
.iwmn-articles article p {
  margin-bottom: 20px;
}
.iwmn-articles article .iwmn-btn {
  color: #ffffff;
  background-color: #eb5547;
  border-color: #eb5547;
}
.iwmn-articles article .iwmn-btn:hover,
.iwmn-articles article .iwmn-btn:focus,
.iwmn-articles article .iwmn-btn:active,
.iwmn-articles article .iwmn-btn.active,
.open .dropdown-toggle.iwmn-articles article .iwmn-btn {
  color: #ffffff;
  background-color: #e73323;
  border-color: #dc2918;
}
.iwmn-articles article .iwmn-btn:active,
.iwmn-articles article .iwmn-btn.active,
.open .dropdown-toggle.iwmn-articles article .iwmn-btn {
  background-image: none;
}
.iwmn-articles article .iwmn-btn.disabled,
.iwmn-articles article .iwmn-btn[disabled],
fieldset[disabled] .iwmn-articles article .iwmn-btn,
.iwmn-articles article .iwmn-btn.disabled:hover,
.iwmn-articles article .iwmn-btn[disabled]:hover,
fieldset[disabled] .iwmn-articles article .iwmn-btn:hover,
.iwmn-articles article .iwmn-btn.disabled:focus,
.iwmn-articles article .iwmn-btn[disabled]:focus,
fieldset[disabled] .iwmn-articles article .iwmn-btn:focus,
.iwmn-articles article .iwmn-btn.disabled:active,
.iwmn-articles article .iwmn-btn[disabled]:active,
fieldset[disabled] .iwmn-articles article .iwmn-btn:active,
.iwmn-articles article .iwmn-btn.disabled.active,
.iwmn-articles article .iwmn-btn[disabled].active,
fieldset[disabled] .iwmn-articles article .iwmn-btn.active {
  background-color: #eb5547;
  border-color: #eb5547;
}
.iwmn-articles article .iwmn-btn .badge {
  color: #eb5547;
  background-color: #ffffff;
}
.iwmn-articles article .author {
  float: left;
  margin-top: 20px;
  margin-left: -105px;
}
.iwmn-articles article p img {
  max-width: 100%;
}
.iwmn-articles-nav {
  margin-top: 30px;
  margin-left: 30px;
  padding: 15px 20px;
  border-left: 5px solid #EEE;
  background: #f7f7f7;
}
.iwmn-articles-nav h5 {
  text-transform: uppercase;
  font-weight: 700;
}
.iwmn-articles-nav li {
  padding: 15px 0 0;
}
.iwmn-articles-nav li a {
  display: block;
  line-height: 1.1;
}
.iwmn-articles-nav a {
  color: #777777;
}
.more-posts {
  display: block;
  padding: 15px;
  margin: 30px 0;
  text-align: center;
  color: #777777;
  border-radius: 5px;
  border: 1px solid #eeeeee;
}
.more-posts:hover {
  text-decoration: none;
  color: #555555;
  background: #f5f5f5;
  border-color: #f5f5f5;
}
.page-section {
  background: #f5f5f5;
  margin-top: 50px;
  margin-bottom: -100px;
}
.iwmn-article {
  font-size: 16px;
  line-height: 1.75;
}
.iwmn-article h1,
.iwmn-article h2 {
  margin: 50px 0 40px;
}
.iwmn-article p,
.iwmn-article blockquote,
.iwmn-article iframe,
.iwmn-article ul,
.iwmn-article ol {
  margin-top: 30px;
}
.iwmn-article blockquote :first-child {
  margin-top: 0;
}
.iwmn-article h3,
.iwmn-article h4 {
  margin: 40px 0 -10px;
}
.iwmn-article p:not([class]) > img {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.iwmn-article .twitter-tweet-rendered {
  margin: 30px auto 0 !important;
}
.iwmn-article .byline {
  line-height: 1.5;
  padding: 20px 0 20px 90px;
}
.iwmn-article .byline small {
  text-transform: uppercase;
}
.iwmn-article .byline .author {
  float: left;
  margin-left: -90px;
}
p.read-more {
  margin-top: 20px;
}
