.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.domain-search .row:before,
.domain-search .row:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.domain-search .row:after {
  clear: both;
}
.form-control {
  border: 3px solid #EEE;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}
.form-control.input-large {
  border-width: 3px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}
.iwmn-container {
  max-width: 970px;
}
header {
  background: #f5f5f5;
}
.brand {
  display: inline-block;
  line-height: 50px;
  padding: 0 15px;
  margin: 0 -15px;
  white-space: nowrap;
  color: #999999;
  font-size: 21px;
  font-weight: 300;
  text-transform: lowercase;
}
.brand > img {
  max-width: none;
  width: 150px;
  height: 24px;
  margin-right: 5px;
}
.brand:hover,
.brand:focus {
  background-color: #FFF;
  text-decoration: none;
  color: #555555;
}
.iwmn-nav {
  margin: 0 -15px;
}
.iwmn-nav > li {
  float: left;
  line-height: 50px;
}
.iwmn-nav > li > .dropdown-menu {
  line-height: 1.42857143;
  border: 0;
  margin: 0;
  padding: 10px 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
}
.iwmn-nav > li > .dropdown-menu > form {
  width: 250px;
  white-space: nowrap;
}
.iwmn-nav > li > .dropdown-menu > form > fieldset {
  padding: 10px 15px 15px;
}
.iwmn-nav > li > .dropdown-menu > form > fieldset > label {
  display: block;
  font-weight: inherit;
  color: #999999;
  margin-bottom: 8px;
}
.iwmn-nav > li > .dropdown-menu > form > small > a {
  display: block;
  width: 50%;
  padding: 8px 4px;
  margin: 0 0 -10px;
  background: #f5f5f5;
  color: #999999;
}
.iwmn-nav > li > .dropdown-menu > form > small > a.pull-left {
  padding-left: 15px;
}
.iwmn-nav > li > .dropdown-menu > form > small > a.pull-right {
  padding-right: 15px;
  text-align: right;
}
.iwmn-nav > li > a {
  padding: 0 15px;
  color: #555555;
  font-weight: 500;
}
.iwmn-nav > li > a > .caret {
  vertical-align: middle;
  margin: 0;
  opacity: .5;
}
.iwmn-nav > li > a > .caret,
.iwmn-nav > li > a:hover > .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.iwmn-nav > li > a:focus,
.iwmn-nav > li > a:active {
  outline: 0;
  background: transparent;
}
.iwmn-nav > li > a > img {
  width: 20px;
  height: 20px;
  background: #FFF;
  border-radius: 20px;
  opacity: 0.8;
}
.iwmn-nav > li > a > .glyphicon {
  line-height: inherit;
}
.iwmn-nav > li > a:hover,
.iwmn-nav > li.open > a {
  color: #000;
  background-color: #FFF;
}
.iwmn-nav > li > a:hover > img,
.iwmn-nav > li.open > a > img {
  opacity: 1;
}
.domain-search {
  padding: 35px 0;
}
.domain-search:before,
.domain-search:after {
  content: " ";
  display: table;
}
.domain-search:after {
  clear: both;
}
.domain-search:before,
.domain-search:after {
  content: " ";
  display: table;
}
.domain-search:after {
  clear: both;
}
.domain-search .row {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 50px;
  position: relative;
}
.domain-search .input-lg {
  height: auto;
  line-height: 1.5;
  padding-right: 90px;
}
.domain-search .btn {
  position: absolute;
  top: 50%;
  right: 45px;
  border-radius: 200px !important;
  width: 90px;
  height: 90px;
  margin: -45px;
  padding: 2px 4px 2px 2px;
  line-height: 86px;
  font-size: 45px;
  background-color: #ff4433;
  border: 4px solid #ff4433;
  color: #FFF;
}
.domain-search .btn:hover {
  background-color: #428bca;
  border-color: #3071a9;
}
.iwmn-orange {
  color: #ff4433;
}
html,
body {
  height: 100%;
}
.frame {
  display: table;
  width: 100%;
  height: 100%;
}
.frame-row {
  display: table-row;
  height: 1px;
}
.frame-row-expand {
  height: auto;
}
footer {
  padding: 20px 0;
  background-color: #555555;
  color: #999999;
  font-size: 12px;
}
footer a {
  color: #eeeeee;
}
footer a:hover {
  color: #FFF;
}
footer li {
  margin-left: 1em;
  text-indent: -1em;
}
footer .list-header {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer .row:last-child {
  margin-top: 20px;
}
blockquote {
  font-size: inherit;
  line-height: inherit;
}
img.author {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}
.iwmn-btn {
  color: #ffffff;
  background-color: #eb5547;
  border-color: #eb5547;
}
.iwmn-btn:hover,
.iwmn-btn:focus,
.iwmn-btn:active,
.iwmn-btn.active,
.open .dropdown-toggle.iwmn-btn {
  color: #ffffff;
  background-color: #e73323;
  border-color: #dc2918;
}
.iwmn-btn:active,
.iwmn-btn.active,
.open .dropdown-toggle.iwmn-btn {
  background-image: none;
}
.iwmn-btn .badge {
  color: #eb5547;
  background-color: #ffffff;
}
.date {
  color: #bbbbbb;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.iwmn-articles {
  padding-top: 20px;
}
.iwmn-articles h1 {
  font-size: 24px;
}
.iwmn-articles h2,
.iwmn-articles h3 {
  font-size: 18px;
}
.iwmn-articles h4 {
  font-size: 14px;
}
.iwmn-articles .title {
  margin-bottom: 25px;
}
.iwmn-articles .title a {
  color: #333333;
}
.iwmn-articles article {
  padding: 25px 0 5px 105px;
  line-height: 1.75;
}
.iwmn-articles article .date {
  display: block;
  margin-bottom: -10px;
}
.iwmn-articles article .author {
  float: left;
  margin-top: 20px;
  margin-left: -105px;
}
.iwmn-articles article > p,
.iwmn-articles article > ol,
.iwmn-articles article > ul,
.iwmn-articles article > blockquote,
.iwmn-articles article > blockquote > p {
  margin-bottom: 20px;
}
.iwmn-articles article > blockquote > :last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .iwmn-articles article {
    padding-left: 0;
  }
  .iwmn-articles article .author {
    display: none;
  }
}
.iwmn-articles-nav,
.iwmn-articles-nav-text {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .iwmn-articles-nav,
  .iwmn-articles-nav-text {
    margin-left: 30px;
  }
}
.iwmn-articles-nav {
  padding: 15px 20px;
  border-left: 5px solid #EEE;
  background: #f7f7f7;
}
.iwmn-articles-nav h5 {
  text-transform: uppercase;
  font-weight: 700;
}
.iwmn-articles-nav li {
  padding: 15px 0 0;
}
.iwmn-articles-nav li a {
  display: block;
  line-height: 1.1;
}
.iwmn-articles-nav a {
  color: #777777;
}
p.read-more {
  margin-top: 25px;
}
.more-posts {
  display: block;
  padding: 15px;
  margin: 30px 0;
  text-align: center;
  color: #777777;
  border-radius: 5px;
  border: 1px solid #eeeeee;
}
.more-posts:hover {
  text-decoration: none;
  color: #555555;
  background: #f5f5f5;
  border-color: #f5f5f5;
}
.page-section {
  background: #f5f5f5;
}
.iwmn-article {
  font-size: 16px;
  line-height: 1.75;
}
.iwmn-article h1,
.iwmn-article h2 {
  margin: 50px 0 40px;
}
.iwmn-article h3,
.iwmn-article h4 {
  margin: 40px 0 -10px;
}
.iwmn-article article > p,
.iwmn-article article > blockquote,
.iwmn-article article > blockquote > p,
.iwmn-article article > iframe,
.iwmn-article article > ul,
.iwmn-article article > ol {
  margin-top: 30px;
}
.iwmn-article article > blockquote > :first-child {
  margin-top: 0;
}
.iwmn-article .twitter-tweet-rendered {
  margin: 30px auto 0 !important;
}
.iwmn-article .byline {
  line-height: 1.5;
  padding-left: 90px;
}
.iwmn-article .byline .author {
  float: left;
  margin-left: -90px;
}
.iwmn-article-footer {
  margin-top: 50px;
  margin-bottom: 5px;
}
.iwmn-404 h1 {
  margin: 60px 0 30px;
}
.iwmn-article,
.iwmn-articles {
  padding-bottom: 50px;
}
.iwmn-article article iframe,
.iwmn-articles article iframe {
  max-width: 100%;
}
.iwmn-article p:not([class]) > img,
.iwmn-articles p:not([class]) > img,
.iwmn-article p:not([class]) > a > img,
.iwmn-articles p:not([class]) > a > img {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.iwmn-editor-btn {
  position: absolute;
  top: 20px;
  right: 0;
}
.iwmn-article-header {
  position: relative;
  margin-bottom: 20px;
  background-color: #333333;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.iwmn-article-header:before {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(34, 34, 34, 0.8) 100%);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(34, 34, 34, 0.8) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc222222', GradientType=0);
}
@media (min-width: 768px) {
  .iwmn-article-header:before {
    top: 160px;
  }
}
.iwmn-article-header h1 {
  color: #FFF;
  font-weight: 400;
  text-shadow: 0 2px 4px rgba(34, 34, 34, 0.3);
}
@media (min-width: 768px) {
  .iwmn-article-header h1 {
    font-size: 54px;
    padding-top: 150px;
  }
}
.placeholder-overflow {
  color: transparent;
}
.placeholder-overflow-before {
  color: #cccccc;
  content: "Find a domain…";
}
@media (max-width: 767px) {
  .domain-search ::-moz-placeholder {
    color: transparent;
  }
  .domain-search ::-moz-placeholder:before {
    color: #cccccc;
    content: "Find a domain…";
    opacity: 1;
  }
  .domain-search :-ms-input-placeholder {
    color: transparent;
  }
  .domain-search :-ms-input-placeholder:before {
    color: #cccccc;
    content: "Find a domain…";
  }
  .domain-search ::-webkit-input-placeholder {
    color: transparent;
  }
  .domain-search ::-webkit-input-placeholder:before {
    color: #cccccc;
    content: "Find a domain…";
  }
}
