{{ define "archive" }}
<div class="container iwmn-container iwmn-articles">
	<div class="row">
		<div class="col-md-8">
			{{ with paginator . }}
				{{ range $i, $page := .Pages }}
					{{ if $i }}<hr>{{ end }}

					{{ template "post-preview" $page }}
				{{ end }}

				{{ if .Next }}
					<a href="{{ $.UrlTo .Next.Page }}" class="more-posts">Older posts</a>
				{{ end }}
			{{ end }}
		</div>

		<div class="col-md-4">
			{{ template "sidebar" . }}
		</div>
	</div>
</div>

{{ template "search" . }}

{{ end }}
