{{ define "excerpt" }}

{{ $more := "\n<!-- more -->\n" }}
{{ $excerpt_open := "<!-- excerpt -->\n" }}
{{ $excerpt_close := "\n<!-- /excerpt -->" }}

{{ if contains $more .Raw }}
	{{ .Raw | cut "" $more | markdown }}
{{ else if contains $excerpt_open .Raw }}
	{{ .Raw | cut $excerpt_open $excerpt_close | markdown }}
{{ else }}
	{{ .Raw | cut "" "\n\n" | markdown }}
{{ end }}

{{ end }}
