{{ define "excerpt" }}

{{ $more := "<!-- more -->" }}
{{ $excerpt_open := "<!-- excerpt -->" }}
{{ $excerpt_close := "<!-- /excerpt -->" }}

{{ if contains $more .Raw }}
	{{ $split := split .Raw $more }}
	{{ markdown (index $split 0) }}
{{ else if contains $excerpt_open .Raw }}
	{{ $split := split .Raw $excerpt_open }}
	{{ $section := index $split 1 }}
	{{ $excerpt := split $section $excerpt_close }}
	{{ markdown (index $excerpt 0) }}
{{ else }}
	{{ $split := split .Raw "\n\n" }}
	{{ markdown (index $split 0) }}
{{ end }}

{{ end }}
