{{ define "favicon" }}
<!-- favicons for apple devices -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ template "url" . }}/assets/images/apple-touch-icon-xlarge.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ template "url" . }}/assets/images/apple-touch-icon-large.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ template "url" . }}/assets/images/apple-touch-icon-medium.png">
<link rel="apple-touch-icon-precomposed" href="{{ template "url" . }}/assets/images/apple-touch-icon-small.png"/>
<!-- favicons for IE -->
<link rel="shortcut" href="{{ template "url" . }}/favicon.ico">
<!-- everyone else -->
<link rel="icon" href="{{ template "url" . }}/assets/images/favicon-64x64.png">
{{ end }}
