{{ define "footer" }}
<footer>
	<div class="container iwmn-container">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<ul class="list-unstyled">
					<li class="list-header">Quick Links</li>
					<li><a href="https://iwantmyname.com/domains/domain-name-registration-list-of-extensions">Domain pricing</a></li>
					<li><a href="https://iwantmyname.com/domains/domain-transfer">Transfer your domains to us</a></li>
					<li><a href="https://iwantmyname.com/domains/new-gtld-domain-extensions">New domain extensions</a> &amp; <a href="https://iwantmyname.com/domains/new-gtld-launch-dates">launch dates</a></li>
					<li><a href="https://iwantmyname.com/services">One-click web services</a></li>
					<li><a href="https://iwantmyname.com/domains/special-offer">Domain discounts</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-3">
				<ul class="list-unstyled">
					<li class="list-header">Company</li>
					<li><a href="https://iwantmyname.com/about">About our team</a></li>
					<li><a href="/">Read our domain blog</a></li>
					<li><a href="https://iwantmyname.com/monthly">Subscribe to our newsletter</a></li>
					<li><a href="https://twitter.com/iwantmyname">Twitter</a> / <a href="http://facebook.com/iwantmyname">Facebook</a> / <a href="https://google.com/+iwantmyname">Google+</a></li>
					<li><a href="https://iwantmyname.com/terms">Terms</a> &amp; <a href="https://iwantmyname.com/privacy">privacy policy</a></li>
				</ul>
			</div>
			
			<!-- fix variable height columns on tiny screens -->
			<div class="clearfix visible-xs"></div>

			<div class="col-xs-6 col-sm-3">
				<ul class="list-unstyled">
					<li class="list-header">Support</li>
					<li><a href="https://help.iwantmyname.com/">Help center Q&amp;A</a></li>
					<li><a href="http://status.iwantmyname.com/">Website status</a></li>
					<li><a href="https://iwantmyname.com/support">Contact a human</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-3">
				<ul class="list-unstyled">
					<li class="list-header">Extras</li>
					<li><a href="https://iwantmyname.com/affiliate">Affiliate program</a></li>
					<li><a href="https://iwantmyname.com/developer/domain-dns-api">Developer API</a></li>
					<li><a href="https://iwantmyname.com/features/domains/web-hosting">Website hosting</a></li>
					<li><a href="https://iwantmyname.com/ssl">SSL certificates</a></li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<p>iwantmyname &copy; 2015</p>
			</div>
		</div>
	</div>
</footer>
{{ end }}
