{{ define "post-preview" }}
<article>
	<small class="date">{{ .Date.Format "January _2, 2006" }}</small>

	{{ if .Other.Author_name }}
		<a href="{{ .Url }}"><img class="author" src="{{ .Other.Author_avatar }}" alt="{{ .Other.Author_name }}" title="{{ .Other.Author_name }}"></a>
	{{ else if .Other.Author }}
		{{ $name := index .Site.Other (print .Other.Author "_name") }}
		{{ $avatar := index .Site.Other (print .Other.Author "_avatar") }}
		<a href="{{ .Url }}"><img class="author" src="{{ $avatar }}" alt="{{ $name }}" title="{{ $name }}"></a>
	{{ end }}

	<h1 class="title">
		<a href="{{ .Url }}">{{ .Title | html }}</a>
	</h1>
	
	{{ if .Other.Header_image }}
		<p><a href="{{ .Url }}"><img data-src="https://iwmn-blog.imgix.net/{{ .Other.Header_image }}" class="imgix-fluid" alt="{{ .Title }}" title="{{ .Title }}"></a></p>
	{{ end }}
	{{ if .Other.Author_name }}
		<p class="small text-muted">The following is a guest post written by {{ .Other.Author_name }}.</p>
	{{ end }}

	{{ if eq (index .Other "Excerpt") "false" }}
		{{ markdown .Raw }}
	{{ else }}
		{{ template "excerpt" . }}
		<p class="read-more">
			<a href="{{ .Url }}" class="btn iwmn-btn btn-small">Read more &rarr;</a>
		</p>
	{{ end }}
</article>
{{ end }}
