{{ define "sidebar" }}
<div class="iwmn-articles-nav">
	<h5>Popular posts</h5>
	<ul class="list-unstyled">
		{{ $popular := "2013/09/how-to-get-a-custom-email-address.html 2014/05/culture-at-iwmn-part-one.html 2013/11/13-platforms-for-creating-a-customizable-online-store.html 2014/04/heartbleed-aftermath.html 2014/01/icanns-new-rules-for-domain-registrants-require-you-to-verify-your-contact-details.html 2014/04/microsoft-ends-free-custom-domain-email-here-are-five-alternatives.html 2014/05/the-updated-big-list-of-static-website-generators-for-your-site-blog-or-wiki.html 2014/01/why-alias-type-records-break-the-internet.html 2013/12/seo-and-the-new-domain-extensions.html 2014/05/celebrating-100000-domains-at-iwantmyname.html" }}
		{{ range (split $popular " ") }}
			{{ $page := $.Site.Pages.ByPath . }}
			<li><a href="{{ $page.Url }}">{{ $page.Title | html }}</a></li>
		{{ end }}
	</ul>
</div>
<div class="iwmn-articles-nav">
	<h5>Recent posts</h5>
	<ul class="list-unstyled">
		{{ range $i, $page := .Site.Pages }}{{ if lt $i 10 }}{{ if eq $page.Pattern "*/*/*.md" }}
			<li><a href="{{ $page.Url }}">{{ $page.Title | html }}</a></li>
		{{ end }}{{ end }}{{ end }}
	</ul>
</div>
{{ end }}
