{{ define "sidebar" }}
<div class="iwmn-articles-nav">
	<h5>Popular posts</h5>
	<ul class="list-unstyled">
		{{ $popular := "2013/09/how-to-get-a-custom-email-address.html 2015/01/how-to-use-a-standard-gmail-account-for-free-custom-domain-email.html 2013/11/13-platforms-for-creating-a-customizable-online-store.html 2014/05/the-updated-big-list-of-static-website-generators-for-your-site-blog-or-wiki.html 2014/06/yes-you-can-still-get-free-custom-email-addresses.html 2015/01/seo-penalties-of-moving-our-blog-to-a-subdomain.html 2014/10/the-grid.html 2014/04/microsoft-ends-free-custom-domain-email-here-are-five-alternatives.html 2013/05/io-domains-now-more-awesome.html 2014/01/why-alias-type-records-break-the-internet.html" }}
		{{ range (split $popular " ") }}
			{{ with $.Site.Pages.ByPath . }}
				<li><a href="/{{ .Url }}">{{ .Title | html }}</a></li>
			{{ end }}
		{{ end }}
	</ul>
</div>
<div class="iwmn-articles-nav">
	<h5>Recent posts</h5>
	<ul class="list-unstyled">
		{{ range (.Site.Pages.GlobSource "*/*/*.md").Slice 0 10 }}
			<li><a href="/{{ .Url }}">{{ .Title | html }}</a></li>
		{{ end }}
	</ul>
</div>
{{ end }}
