<div class="iwmn-articles-nav">
	<h5>Popular posts</h5>
	<ul class="list-unstyled">
		{% capture popular %}
			{% for url in site.data.popular %}
				{% for post in site.posts %}
					{% if post.url == url %}
						<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
					{% endif %}
				{% endfor %}
			{% endfor %}
		{% endcapture %}
		{{ popular | strip_newlines }}
	</ul>
</div>
<div class="iwmn-articles-nav">
	<h5>Recent posts</h5>
	<ul class="list-unstyled">
		{% for post in site.posts limit:10 %}
			<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</div>
