---
layout: page
---

<div class="container iwmn-container iwmn-article">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<article>
				<h1>{{ page.title }}</h1>

				{{ content }}
				
				<div class="row iwmn-article-footer">
					<div class="col-sm-6">
						<p class="byline">
							{% assign author = site.data.authors[page.author] %}
							{% if author %}
								<img class="author" src="{{ author.avatar }}" alt="{{ author.name }}" title="{{ author.name }}">

								&mdash; {{ author.name }}<br>
								<a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>
							{% endif %}
						</p>
					</div>
					<div class="col-sm-6">
						<p class="text-right">
							<small class="date">{{ page.date | date:'%B %-d, %Y' }}</small>
						</p>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>

{% include search.html %}
