---
layout: page
---
{% assign author = page.guest_author || site.data.authors[page.author] %}

<div class="container iwmn-container iwmn-article">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<article>
				<h1>{{ page.title }}</h1>

				{% if page.header_image %}
					<p><img src="{{ site.images_url }}/{{ page.header_image }}"></p>
				{% endif %}
				
				{% if page.guest_author %}
					<p class="small">The following is a guest post written by <a href="https://twitter.com/{{ author.twitter }}">{{ author.name }}</a>.</p>
					<hr>
				{% endif %}

				{{ content }}
				
				<div class="iwmn-article-footer">
					<div class="row">
						<div class="col-sm-6">
							{% if author %}
								<p class="byline clearfix">
										<img class="author" src="{{ author.avatar }}" alt="{{ author.name }}" title="{{ author.name }}">

										&mdash; {{ author.name }}<br>
										<a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>
								</p>
							{% endif %}
						</div>
						<div class="col-sm-6">
							<p class="text-right">
								<small class="date">{{ page.date | date:'%B %-d, %Y' }}</small>
							</p>
						</div>
					</div>
					{% if author.footer %}
						<div class="byline small">
							<hr>
							{{ author.footer | markdownify }}
						</div>
					{% endif %}
				</div>
			</article>
		</div>
	</div>
</div>

{% include search.html %}
