---
layout: page
---
{% assign author = page.guest_author %}
{% unless author %}{% assign author = site.data.authors[page.author] %}{% endunless %}

{% if page.header_image %}
	<div class="iwmn-article-header" style="background-image: url({{ site.images_url }}/{{ page.header_image }});">
		<div class="container iwmn-container iwmn-article">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<h1>{{ page.title }}</h1>
				</div>
			</div>
		</div>
	</div>
{% endif %}

<div class="container iwmn-container iwmn-article{% if page.is_interview %} iwmn-interview{% endif %}">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<article>
				{% unless page.header_image %}
					<h1>{{ page.title }}</h1>
				{% endunless %}
				
				{% if page.guest_author %}
					<p class="small">The following is a guest post written by <a href="https://twitter.com/{{ author.twitter }}">{{ author.name }}</a>.</p>
					<hr>
				{% endif %}

				{{ content }}
				
				<div class="iwmn-article-footer">
					<div class="row">
						<div class="col-sm-6">
							{% if author %}
								<p class="byline clearfix">
										<img class="author" src="{{ author.avatar }}" alt="{{ author.name | xml_escape }}" title="{{ author.name | xml_escape }}">

										&mdash; {{ author.name }}<br>
										<a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>
								</p>
							{% endif %}
						</div>
						<div class="col-sm-6">
							<p class="text-right">
								<small class="date">{{ page.date | date:'%B %-d, %Y' }}</small>
							</p>
						</div>
					</div>
					{% if author.footer %}
						<div class="byline small">
							<hr>
							{{ author.footer | markdownify }}
						</div>
					{% endif %}
				</div>
			</article>
		</div>
	</div>
</div>

{% include search.html %}
